In [1]:
# !mv ~/Downloads/Car_sales.csv ./car_sales.csv

In [2]:
!ls

car_sales.csv
SettinWithCopyWarning.ipynb

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("./car_sales.csv")

In [5]:
df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales_in_thousands   157 non-null    float64
 3   __year_resale_value  121 non-null    float64
 4   Vehicle_type         157 non-null    object
 5   Price_in_thousands   155 non-null    float64
 6   Engine_size          156 non-null    float64
 7   Horsepower           156 non-null    float64
 8   Wheelbase            156 non-null    float64
 9   Width                156 non-null    float64
 10  Length               156 non-null    float64
 11  Curb_weight          155 non-null    float64
 12  Fuel_capacity        156 non-null    float64
 13  Fuel_efficiency      154 non-null    float64
 14  Latest_Launch        157 non-null    object
 15  Power_perf_factor    155 non-null    float64
dtypes: float64(12), object(4)
memory usage: 19.8+ KB

In [7]:
# fuel_capacity of Porsche cars are wrong, they are actually 18.0
df[df["Manufacturer"] == "Porsche"]["Fuel_capacity"] = 18.0

C:\Users\gransotto gustavo\AppData\Local\Temp\ipykernel_15100\2567178101.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df["Manufacturer"] == "Porsche"]["Fuel_capacity"] = 18.0

In [8]:
df[df["Manufacturer"] == "Porsche"] # not updated!!!

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
124,Porsche,Boxter,8.982,41.250,Passenger,41.43,2.7,217.0,95.2,70.1,171.0,2.778,17.0,22.0,2/19/2012,93.437331
125,Porsche,Carrera Coupe,1.280,60.625,Passenger,71.02,3.4,300.0,92.6,69.5,174.5,3.032,17.0,21.0,12/21/2012,134.390975
126,Porsche,Carrera Cabrio,1.866,67.550,Passenger,74.97,3.4,300.0,92.6,69.5,174.5,3.075,17.0,23.0,7/11/2011,135.914710

# View vs Copy?
- You should always favor the use of loc when assigning values in pandas
- .loc, .iloc returns views or copies depending on how they are used

## What is a view?
- A view is just a pointer to the actual value stored somewhere else, just like in C
- It's the same that works with python variables

[Pointers in Python](https://realpython.com/pointers-in-python/)

### Imultable vs mutable types in python

- All basic datatypes are imutable + tuples
- Lists, Sets and Dicts are mutable

- When you change values from

In [9]:
x = 22

In [10]:
id(x)

3080307934096

In [11]:
y = x
print(x,y)
print(id(x))
print(id(y))

22 22
3080307934096
3080307934096

In [12]:
x is y

True

In [13]:
x += 1
print(x,y)
print(id(x))
print(id(y))

23 22
3080307934128
3080307934096

In [14]:
d = {'x': 22, 'y': 23}
print(d)
print(id(d))

{'x': 22, 'y': 23}
3080438850752

In [15]:
d2 = d
print(d,d2)
print(id(d),id(d2))

{'x': 22, 'y': 23} {'x': 22, 'y': 23}
3080438850752 3080438850752

In [16]:
d2["x"] +=1
print(d,d2)
print(id(d),id(d2))

{'x': 23, 'y': 23} {'x': 23, 'y': 23}
3080438850752 3080438850752

In [17]:
tup = (12,22)
tup2 = tup
print(tup,tup2)
print(id(tup),id(tup2))

(12, 22) (12, 22)
3080438842560 3080438842560

In [18]:
tup[1] = 23

TypeError: 'tuple' object does not support item assignment

In [19]:
tup = (12,23)
print(tup,tup2)
print(id(tup),id(tup2))

(12, 23) (12, 22)
3080467475072 3080438842560

## View vs Copy
- A view is just like a shallow copy, a pointer, it points to the same address where the variable is stored
- A deep copy, on the other hand points to another address
- Change a value on the view and it applies to the original copy
- Change a value on the copy, and the change will only be contained in itself

In [20]:
id(df)

3080438095520

In [21]:
# This is a view
df2 = df.loc[:,:]

print(df2 is df)
print(id(df), id(df2))

True
3080438095520 3080438095520

In [22]:
# This is a copy
df2 = df[df["Manufacturer"] == "Porsche"]
print(df2 is df)
print(id(df), id(df2))

False
3080438095520 3080458266000

## When will I get a View and when will I get a Copy?

It can be messy.... really messy!

Outside of simple cases, it’s very hard to predict whether it will return a view or a copy (it depends on the memory layout of the array, about which pandas makes no guarantees) ………. That’s what SettingWithCopy is warning you about!

https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
# Example, this returns a view
df2 = df.loc[:,:]
print(df2 is df)
print(id(df), id(df2))

True
3080438095520 3080438095520

In [24]:
# Example, this returns a copy
df2 = df.loc[df["Model"] == "Boxter",:]
print(df2 is df)
print(id(df), id(df2))

False
3080438095520 3080457265376

### The order of the operations matter
- Chained indexing in pandas will return a slice or a copy depending on the order in which the operations are processed
- In the first example below, pandas raise a warning, but a value is set to the slice
- On the second, pandas also raises a warning, but the value is NOT set to the slice

Why does it happen?
- It is involved with lazyness of operations, getters and setters
- Internal work of pandas to fit numpy single-type columns and memory and processing optimization

In [25]:
print(df["Fuel_capacity"][df["Model"] == "Boxter"])

124    17.0
Name: Fuel_capacity, dtype: float64

In [26]:
df["Fuel_capacity"][df["Model"] == "Boxter"] = 18.0

C:\Users\gransotto gustavo\AppData\Local\Temp\ipykernel_15100\3758230288.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Fuel_capacity"][df["Model"] == "Boxter"] = 18.0

In [27]:
df[df["Model"] == "Boxter"]["Fuel_capacity"] = 19.0

C:\Users\gransotto gustavo\AppData\Local\Temp\ipykernel_15100\3371537488.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df["Model"] == "Boxter"]["Fuel_capacity"] = 19.0

In [28]:
print(df["Fuel_capacity"][df["Model"] == "Boxter"])

124    18.0
Name: Fuel_capacity, dtype: float64

In [29]:
print(df["Fuel_capacity"][df["Model"] == "Boxter"]._is_view)
print(df[df["Model"] == "Boxter"]["Fuel_capacity"]._is_view)

False
True

## F, what should I do then?

Access elements by using `.loc` with a mask and a string for a single element

In [30]:
# Acessing multiple elements from one column

df2 =df.copy()

mask = df2["Manufacturer"] == "Porsche"

df2.loc[mask,"Fuel_capacity"] = 20

In [31]:
df[mask]

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
124,Porsche,Boxter,8.982,41.250,Passenger,41.43,2.7,217.0,95.2,70.1,171.0,2.778,18.0,22.0,2/19/2012,93.437331
125,Porsche,Carrera Coupe,1.280,60.625,Passenger,71.02,3.4,300.0,92.6,69.5,174.5,3.032,17.0,21.0,12/21/2012,134.390975
126,Porsche,Carrera Cabrio,1.866,67.550,Passenger,74.97,3.4,300.0,92.6,69.5,174.5,3.075,17.0,23.0,7/11/2011,135.914710

In [32]:
df2[mask]

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
124,Porsche,Boxter,8.982,41.250,Passenger,41.43,2.7,217.0,95.2,70.1,171.0,2.778,20.0,22.0,2/19/2012,93.437331
125,Porsche,Carrera Coupe,1.280,60.625,Passenger,71.02,3.4,300.0,92.6,69.5,174.5,3.032,20.0,21.0,12/21/2012,134.390975
126,Porsche,Carrera Cabrio,1.866,67.550,Passenger,74.97,3.4,300.0,92.6,69.5,174.5,3.075,20.0,23.0,7/11/2011,135.914710

In [33]:
# Acessing one single element with index
df3 = df.copy()
df3.loc[124,"Fuel_capacity"] = 20.0

In [34]:
print(df.loc[124,"Fuel_capacity"])

18.0

In [35]:
print(df3.loc[124,"Fuel_capacity"])

20.0

## Hidden Chaining

this is a nightmare, but sometimes, this is the trigger we needed

In [36]:
chevrolet_cars = df.loc[df["Manufacturer"] == "Chevrolet"]
chevrolet_cars

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
19,Chevrolet,Cavalier,145.519,9.250,Passenger,13.260,2.2,115.0,104.1,67.9,180.9,2.676,14.3,27.0,8/17/2011,46.363347
20,Chevrolet,Malibu,135.126,11.225,Passenger,16.535,3.1,170.0,107.0,69.4,190.4,3.051,15.0,25.0,3/19/2012,67.314462
21,Chevrolet,Lumina,24.629,10.310,Passenger,18.890,3.1,175.0,107.5,72.5,200.9,3.330,16.6,25.0,5/24/2011,69.991396
22,Chevrolet,Monte Carlo,42.593,11.525,Passenger,19.390,3.4,180.0,110.5,72.7,197.9,3.340,17.0,27.0,12/22/2011,72.030917
23,Chevrolet,Camaro,26.402,13.025,Passenger,24.340,3.8,200.0,101.1,74.1,193.2,3.500,16.8,25.0,10/23/2011,81.118543
24,Chevrolet,Corvette,17.947,36.225,Passenger,45.705,5.7,345.0,104.5,73.6,179.7,3.210,19.1,22.0,5/12/2012,141.141150
25,Chevrolet,Prizm,32.299,9.125,Passenger,13.960,1.8,120.0,97.1,66.7,174.3,2.398,13.2,33.0,9/11/2011,48.297636
26,Chevrolet,Metro,21.855,5.160,Passenger,9.235,1.0,55.0,93.1,62.6,149.4,1.895,10.3,45.0,4/13/2012,23.276272
27,Chevrolet,Impala,107.995,NaN,Passenger,18.890,3.4,180.0,110.5,73.0,200.0,3.389,17.0,27.0,6/18/2011,71.838039

In [37]:
chevrolet_cars["Model"].value_counts()

Cavalier       1
Malibu         1
Lumina         1
Monte Carlo    1
Camaro         1
Corvette       1
Prizm          1
Metro          1
Impala         1
Name: Model, dtype: int64

In [38]:
chevrolet_cars["Sales_in_thousands"].std()

52.335199979183336

In [39]:
chevrolet_cars["__year_resale_value"].max()

36.225

In [40]:
chevrolet_cars.loc[20, "Price_in_thousands"] = 17.638

# The solution

Treating code transformations as a pipeline that receives dataframe + arguments and returns dataframe is, in general, a good solution, but you may face some issues when a funciton changes elements inplace from the input dataframe passed as an argument, as python may pass this as a reference.

Good old `.copy()` operator guarantees that you won't have problems with that. There are also some false positives, specially when you are to overwrite an already existing dataframe.

If you run in separate cells though, it's likely that it will disappear.

Keep it functional, keep it safe

# **ALWAYS MAKE A COPY IN THE FUNCTIONS YOU CALL ON THE PIPELINE**
THIS WAY YOU WILL PREVENT BUGS FROM A FUNCTION MUTATING THE INNER OPERATIONS OF THE FUNCTION

YOU MAY USE DECORATORS IN ORDER TO DO THAT IN A CLASSY WAY

In [41]:
df = df[df["Vehicle_type"] == "Passenger"]
df["In Stock"] = 'True'

C:\Users\gransotto gustavo\AppData\Local\Temp\ipykernel_15100\2558624483.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["In Stock"] = 'True'

# Random tests

- Não tem uma super solução para unpack os valores de uma função que retorna um tuple com mais elementos além do dataframe principal
- Para chain vários métodos de processamento usando pd.pipe() você precisa criar um wrapper, ou seja, uma etapa intermediária para unpack e chamar de novo

In [42]:
# create a sample dataframe
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

# define a function that processes the data and returns additional values
def process_data(df):
    # do some processing
    df['D'] = df['A'] + df['B']
    df['E'] = df['B'] * df['C']
    
    # return the modified dataframe and additional values
    return df, 'foo', 'bar'

# define another function that processes the data and additional values
def process_additional_values(df, val1, val2):
    # do some processing with the additional values
    df['F'] = np.random.randint(10, size=len(df))
    
    # return the modified dataframe and additional values
    return df, val1.upper(), val2.lower()

# use the pipe function to chain the two functions together
result = (df.pipe(process_data)
           .pipe(process_additional_values, 'hello', 'WORLD'))

# display the final result
print(result)

AttributeError: 'tuple' object has no attribute 'pipe'

In [43]:
# You can use a lambda funciton to unpack values from the previous call into the next

result = (df.pipe(process_data)
           .pipe(lambda x: process_additional_values(*x)))

AttributeError: 'tuple' object has no attribute 'pipe'

## Solução que vem em mente
- Ao invés de retornar na saída do pipe, mutar o argumento de entrada pode ser uma solução, especialmente quando estamos mutando

In [57]:
class ArgumentToBePassed:
    def __init__(self, foo: int, bar: int) -> None:
        self.foo = foo
        self.bar = bar
    def add_one(self):
        self.foo += 1
        self.bar += 1
    def __str__(self):
        return f"ArgumentToBePassed: foo {self.foo}, bar {self.bar}"

In [58]:
argument_to_be_changed = ArgumentToBePassed(2,3)
print(argument_to_be_changed)

ArgumentToBePassed: foo 2, bar 3

In [59]:
# create a sample dataframe
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

def process_data(df, argument):
    # do some processing
    df['D'] = df['A'] + df['B']
    df['E'] = df['B'] * df['C']
    
    argument.add_one()
    argument.add_one()
    
    # return the modified dataframe, argument is modified in itself
    return df

# define another function that processes the data and additional values
def process_additional_values(df):
    # do some processing with the additional values
    df['F'] = np.random.randint(10, size=len(df))
    
    # return the modified dataframe
    return df


# execution 
argument_to_be_changed = ArgumentToBePassed(3,4)

print(argument_to_be_changed)

results = (df
           .pipe(process_data, argument_to_be_changed)
           .pipe(process_additional_values))

print(argument_to_be_changed)

ArgumentToBePassed: foo 3, bar 4
ArgumentToBePassed: foo 5, bar 6

In [76]:
df # changes inplace in function input

   A  B  C  D   E  F
0  1  4  7  5  28  8
1  2  5  8  7  40  1
2  3  6  9  9  54  2

# Melhorando ainda mais - decorators para evitar o setcopywithwarnings

O padrão ouro de fazer as coisas no python é envelopar o processo de tratamento de dados em uma função 
```
def fn (dataframe, **kwargs):
    # tratamento do dataframe
    return dataframe
    
result = df.pipe(fn, arg1, arg2, ...)
```

Porém, para evitar problemas de mutabilidade... é uma boa prática colocar um .copy() no início da função, mas isso não bate com boas práticas de clean code (DRY - don't repeat yourself). Como no exemplo abaixo:

```
def fn (dataframe, **kwargs):
    df = dataframe.copy()
    # tratamento do dataframe
    return df
    
result = df.pipe(fn, arg1, arg2, ...)
```


A solução? Decorators!

Mas ainda não sei fazer... checar [esse link](https://realpython.com/primer-on-python-decorators/)

```
def df_deep_copy(func):

    def deep_copy_wrapper(*args, **kwargs):
        arg0, *other_args = args
        return func(arg0.copy(), *other_args, **kwargs)
    
    return deep_copy_wrapper
    
@deep_copy_wrapper
def fn (dataframe, **kwargs):
    df = dataframe.copy()
    # tratamento do dataframe
    return df
    
result = df.pipe(fn, arg1, arg2, ...)
```

Let's try!

In [63]:
def print_args(*args, **kwargs):
    print(args)
    print(kwargs)

In [64]:
print_args('arg1','arg2',kwarg1=1, kwarg2=2)

('arg1', 'arg2')
{'kwarg1': 1, 'kwarg2': 2}

In [74]:
arg, *rest_of_args = (2,3,4,5)
print(arg)
print(rest_of_args)

2
[3, 4, 5]

In [75]:
def deep_copy_df(pipe_func): # receives a function, returns a function
    def deep_copy_wrapper(*args, **kwargs):
        df, *additional_args = args
        return pipe_func(df.copy(), *additional_args, **kwargs)
    return deep_copy_wrapper

In [77]:
# create a sample dataframe
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

@deep_copy_df
def process_data(df, argument):
    # do some processing
    df['D'] = df['A'] + df['B']
    df['E'] = df['B'] * df['C']
    
    argument.add_one()
    argument.add_one()
    
    # return the modified dataframe, argument is modified in itself
    return df

# define another function that processes the data and additional values
@deep_copy_df
def process_additional_values(df):
    # do some processing with the additional values
    df['F'] = np.random.randint(10, size=len(df))
    
    # return the modified dataframe
    return df


# execution 
argument_to_be_changed = ArgumentToBePassed(3,4)

print(argument_to_be_changed)

results = (df
           .pipe(process_data, argument_to_be_changed)
           .pipe(process_additional_values))

print(argument_to_be_changed)

ArgumentToBePassed: foo 3, bar 4
ArgumentToBePassed: foo 5, bar 6

In [78]:
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [79]:
results

   A  B  C  D   E  F
0  1  4  7  5  28  9
1  2  5  8  7  40  7
2  3  6  9  9  54  5

## Additional study links
https://practicaldatascience.co.uk/data-science/how-to-use-method-chaining-in-pandas
https://towardsdatascience.com/how-to-avoid-a-pandas-pandemonium-e1bed456530
https://github.com/pambot/notebooks/blob/master/pandas-pandemonium.ipynb
https://www.aidancooper.co.uk/pandas-anti-patterns/